#main-title {
    font-weight: 800;
    color:deeppink
}

.card {
    background-color: black;
    color: white;
}

.card-body {
    p {
        line-height: 1em;
        margin: 5px ;
        font-size: small;
    }
    .card-title {
        font-weight: 600;
    }
    .card-role {
        color: darkgrey;
    }
    .card-email {
        color:cornflowerblue;
    }
}
.card-img {
    min-width: 100px;
}
.row {
    justify-content: space-evenly;
}